127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ node1_ip }}   {{ node1 }}
{{ node2_ip }}   {{ node2 }}
{{ mysql_ip }}   {{ db_server }}
{{ frontend_loc_ip }}   {{ frontend }}
{{ syslog_ip }}   {{ syslog_server }}
