
module cluster_drbd 1.0;

require {
	type drbd_t;
	type kernel_t;
	type cluster_var_log_t;
	class netlink_generic_socket { bind create getattr setopt };
	class capability { dac_override fowner fsetid };
	class file setattr;
	class system module_request;
}

#============= drbd_t ==============
allow drbd_t cluster_var_log_t:file setattr;

#!!!! This avc can be allowed using the boolean 'domain_kernel_load_modules'
allow drbd_t kernel_t:system module_request;
allow drbd_t self:capability { dac_override fowner fsetid };
allow drbd_t self:netlink_generic_socket { bind create getattr setopt };
